<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.wangzhen.spring.User" init-method="initMethod" destroy-method="destroyMethod">
        <property name="username" value="root"></property>
        <property name="password" value="123"></property>
        <property name="age" value="19"></property>
        <property name="id" value="10010"></property>
    </bean>

    <bean id="mybeanprocesssor" class="com.wangzhen.spring.MyBeanProcessor"></bean>
</beans>